$google-font:  'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap';
$fontFamily: 'Roboto', sans-serif;
$baseFontSize: 16px;
$baseFontSize: 16px;
$imgPath: "../i/";
$usersPath: "../userfiles/";
$fontPath: "../fonts/";
$white:#FFFFFF;
$black:#000000;
$blue: #192A67;


